#content {
    display: flex;
    justify-content: space-around;
}

.options {
    margin: 10 0 10 10; padding: 0;
}

h3 {
    margin: 15 10 10 0; padding: 0;
}

h4 {
    margin: 10 0 10 0; padding: 0;
}

th {
    text-align: left;
    display: default;
}
